html,
body {
  height: 100%;
}

body {
  background-image: url("./images/forest-bckg.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > canvas {
  border: 2px solid gold;
  border-radius: 0.5em;
}
